.menu-item {
  padding: 11px 11px 9px 13px;
  border: 0;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.menu-item:hover {
  outline: 3px solid var(--main-color);
}

.menu-item > img:first-child {
  margin-bottom: 2px;
  vertical-align: bottom;
}

.item-name {
  margin-bottom: 5px;
  display: block;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
}

.item-price {
  padding: 5px 16px 5px 15px;
  text-align: bottom;
  display: block;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  background-color: var(--main-color);
  border-radius: 50px;
  color: white;
}

.item-price::after {
  content: "ì›";
}

.mini-input {
  box-sizing: border-box;
  border: 0;
  background-color: var(--bg-color);
  border-radius: 5px;
  width: 200px;
  padding-left: 10px;
}

.mini-btn {
  border: 2px solid var(--border-basic-color);
  border-radius: 5px;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  width: 94px;
  height: 33px;
}

.insert-money-input {
  background-color: white;
  border: 1px solid var(--border-basic-color);
}

.get-btn {
  border: 2px solid var(--border-basic-color);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  width: 94px;
  background-color: var(--main-color);
  color: white;
}

.display > button {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 170px;
  height: 46px;
  background-color: white;
  border: 0;
  margin-bottom: 5px;
  border-radius: 5px;
}

.display > button > img {
  display: inline-block;
  width: 18px;
  height: 33px;
}

.display > button > p:nth-of-type(1) {
  font-size: 10px;
  margin-right: 30px;
}

.item-count {
  padding: 8px 12px;
  border: 1px solid var(--border-basic-color);
  border-radius: 5px;
  font-weight: 700;
}

.my-bag > button {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  height: 46px;
  background-color: white;
  border: 0;
  margin-bottom: 5px;
  border-radius: 5px;
}

.my-bag > button > img {
  display: inline-block;
  width: 18px;
  height: 33px;
}

.my-bag > button > p:nth-of-type(1) {
  font-size: 10px;
  margin-right: 135px;
}

.item-count {
  padding: 8px 12px;
  border: 1px solid var(--border-basic-color);
  border-radius: 5px;
  font-weight: 700;
}
