.menu-item {
  position: relative;
  padding: 11px 11px 9px 13px;
  border: 0;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.menu-item:hover {
  outline: 3px solid var(--main-color);
}

.menu-item > img:first-child {
  margin-bottom: 7px;
  vertical-align: bottom;
}

.sold-out::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../images/cola/soldout.png);
}

.item-name {
  margin-bottom: 7px;
  display: block;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
}

.item-price {
  padding: 5px 16px 5px 15px;
  display: block;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  background-color: var(--main-color);
  border-radius: 50px;
  color: white;
}

.item-price::after {
  content: "ì›";
}

.mini-input {
  padding-left: 6px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #bdbdbd;
  background-color: var(--bg-color);
  border-radius: 5px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.mini-btn {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  border: 0;
  border-radius: 5px;
  background-color: white;
  width: 94px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.insert-money-input {
  background-color: white;
  border: 1px solid var(--border-basic-color);
}

.get-btn {
  border: 2px solid var(--border-basic-color);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  width: 94px;
  background-color: var(--main-color);
  color: white;
}

.mini-display button {
  padding: 6px 8px 7px 10px;
  margin-bottom: 6px;
  align-items: center;
  width: 170px;
  height: 46px;
  background-color: white;
  border: 0;
  border-radius: 5px;
}

.mini-display button > img {
  margin-right: 10px;
  float: left;
  width: 18px;
  height: 33px;
}

.mini-display button > span:nth-of-type(1) {
  /* display: inline-block; */
  margin-top: 12px;
  float: left;
  /* font-size: 10px;
  margin-right: 30px; */
}

.item-count {
  /* box-sizing: border-box; */
  float: right;
  padding: 5px 10px 3px;
  border: 1px solid var(--border-basic-color);
  border-radius: 5px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.my-bag > li {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  width: 272px;
  height: 46px;
  background-color: white;
  border: 0;
  margin-bottom: 5px;
  border-radius: 5px;
}

.my-bag > li > img {
  display: inline-block;
  width: 18px;
  height: 33px;
}

.my-bag > li > p:nth-of-type(1) {
  font-size: 10px;
  margin-right: 135px;
}
