.header {
  margin: 0 auto 68px;
  width: 386px;
  height: 180px;
  background-image: url(../images/header/header.png);
  background-size: cover;
}

@media (max-width: 479px) {
  .header {
    margin: 0 auto 15px;
    width: 166px;
    height: 78px;
  }
}
