@import url(../../common/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.header {
  background-image: url(../images/header/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header::after {
  content: "";
  background-image: url(../images/header/sub.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 386px;
  height: 38px;
  top: 154.5px;
  z-index: 10;
}

.header h1 {
  text-align: center;
  padding-top: 50px;
  background-color: 0 0 0 0;
  font-size: 80px;
  font-family: "Nanum Pen Script", cursive;
  color: white;
}
