body {
  background-color: var(--bg-color);
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 50px 0;
}

.content > section {
  box-sizing: border-box;
  width: 360px;
}

.vending-machine {
  margin-right: 28px;
  background-color: white;
  padding: 31px 27px 28px;
}

@media (max-width: 748px) {
  .content {
    display: block;
  }

  .content > section {
    display: block;
    margin: 0 auto;
  }

  .vending-machine {
    margin-right: 0;
  }

  .my-money-container {
    margin-bottom: 0;
  }
}

.list-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 272px;
  margin: 0 0 20px 0;
}

.balance-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 33px;
  margin-bottom: 10px;
}

.insert-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 33px;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.display-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 106px;
  /* border: 1px solid black; */
}

.mini-display {
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
  width: 200px;
  border: 1px solid var(--border-basic-color);
  border-radius: 5px;
  background-color: var(--bg-color);
}

.mini-display::-webkit-scrollbar {
  width: 4px;
}

.mini-display::-webkit-scrollbar-thumb {
  height: 79px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50px;
}

.my-money-container {
  box-sizing: border-box;
  height: 50px;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px 25px;
}

.my-left-money {
  box-sizing: border-box;
  background-color: var(--bg-color);
  display: inline-flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 5px;
  width: 200px;
}

.my-left-money p {
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.my-money {
  box-sizing: border-box;
  background-color: var(--bg-color);
  display: flex;
  width: 306px;
  height: 32px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.my-money p:last-child {
  font-weight: bold;
}

.my-bag-container {
  box-sizing: border-box;
  background-color: white;
  height: 475px;
  padding: 25px 27px 26px;
  /* border: 1px solid black; */
}

.my-bag-container > p:first-of-type {
  margin-bottom: 13px;
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.my-bag {
  margin-bottom: 6px;
  box-sizing: border-box;
  width: 306px;
  height: 364px;
  background-color: var(--bg-color);
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  overflow-y: scroll;
}

.my-bag > li > p:first-of-type {
  margin-right: 135px;
}

.my-bag-container > p:last-of-type {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
}

.my-bag::-webkit-scrollbar {
  width: 4px;
}

.my-bag::-webkit-scrollbar-thumb {
  height: 79px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50px;
}
