body {
  background-color: var(--bg-color);
}

@media (min-width: 770px) {
  .wrapper {
    box-sizing: border-box;
    width: 750px;
    /* height: 810px; */
    /* border: 1px solid black; */
    margin: 0 auto;
  }

  .content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 0 0 50px 0;
    border: 1px solid red; /* 레이아웃을 보기 위한 임시 border */
  }

  .content > section {
    box-sizing: border-box;
    width: 360px;
  }
}

@media (max-width: 769px) {
  .wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .content {
    box-sizing: border-box;
    margin: 0 0 100px 0;
  }

  .content > section {
    box-sizing: border-box;
    margin: 0 auto;
    width: 360px;
    height: 545px;
  }

  .my-money-container {
    margin-top: 20px;
  }
}

.vending-machine {
  margin-left: -14px;
  background-color: white;
  padding: 30px 25px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 270px;
  margin: 0 0 20px 0;
}

.balance-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 33px;
  margin-bottom: 10px;
}

/* .balance-container > form {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 33px;
  margin-bottom: 10px;
} */

.insert-container > form {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 33px;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

.display-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 106px;
  /* border: 1px solid black; */
}

.display {
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
  width: 200px;
  border: 1px solid var(--border-basic-color);
  border-radius: 5px;
  background-color: var(--bg-color);
}

.display::-webkit-scrollbar {
  width: 4px;
}

.display::-webkit-scrollbar-thumb {
  height: 79px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50px;
}

.content:last-of-type {
  margin-right: -14px;
}

.my-stuff {
  box-sizing: border-box;
}

.my-money-container {
  box-sizing: border-box;
  height: 50px;
  background-color: white;
  margin-bottom: 20px;
  padding: 10px 25px;

  /* border: 1px solid black; */
}

.my-left-money {
  box-sizing: border-box;
  background-color: var(--bg-color);
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
}

.my-money {
  box-sizing: border-box;
  background-color: var(--bg-color);
  display: flex;
  width: 306px;
  height: 32px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.my-money p:last-child {
  font-weight: bold;
}

.my-bag-container {
  box-sizing: border-box;
  background-color: white;
  height: 475px;
  padding: 30px 25px;
  /* border: 1px solid black; */
}

.my-bag-container > p:first-of-type {
  text-align: center;
  font-weight: bold;
}

.my-bag {
  box-sizing: border-box;
  margin-top: 20px;
  width: 306px;
  height: 364px;
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}

.my-bag > button > p:first-of-type {
  margin-right: 135px;
}

.my-bag-container > p:last-of-type {
  margin-top: 15px;
  text-align: end;
}

.my-bag::-webkit-scrollbar {
  width: 4px;
}

.my-bag::-webkit-scrollbar-thumb {
  height: 79px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50px;
}
